body {
    font-family: "Poppins", sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.welcome_message{
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    margin-left: 100px;
    margin-top: 30px;

}

.logout button{
    background-color: transparent;
    border: 1.7px solid black ;
    border-radius: 7px;
    color: black;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    text-transform:uppercase ;
    transition: background-color 300ms;
}

.logout button:hover{
    color: #fff;
    background-color: black;

}

.logout{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 130px;
    margin-top: 40px;
    margin-top: 20px;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 130px; /* Ajustez la hauteur ici */
    width: 130px; /* Ajustez la largeur ici */
    margin-top: 20px;
    margin-left: 25px;
}


.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin-top: 40px;
}

h1 {
    color: #333;
}

.category {
    margin-bottom: 20px;
}

.category h2 {
    color: #444;
}



.category p:hover {
    background-color: #eee;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

#delBtn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #999;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    
}

.category p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: all 0.3s ease;
}


