@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}



/*CSS pour le MENU : DEBUT (PRENDRE AUSSI @import url, *{} et body{} du dessus !!!!)*/

nav, .nav-links{
      display: flex;
      
}
  
nav{
      align-items: center;
      height: 17vh;
}

.nav-links a{
    text-decoration: none;
}
  
.nav-links{
      gap: 2rem;
      list-style: none;
      font-size: 1.5rem;
      margin-left: 267px;
      
}

a {
    color: #000;
    text-decoration: none;
    text-decoration-color: white;
    transition: all 300ms ease;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: rgb(181,181,181) ;
}

  
.logo{
    font-size: 2rem;
    margin-left: 133.5px;
}

.logo:hover{
    cursor: default;
}

/*CSS pour le MENU : FIN*/


/*CSS pour le formulaire : DEBUT*/

.wrapper{
    width: 790px;
    position: relative;
    height: 670px;
    background: transparent;
    border: 2px solid rgba(255,255 ,255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0 ,0, .2);
    color: grey;
    border-radius: 10px;
    padding: 30px 40px;
    margin-left: auto;
    margin-right: auto;
    
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
    color: black;
}

.wrapper .input-box{
    position: relative;
    width: 60%;
    height: 50px;
    margin: 8px 0;

}

.input-box input{
    width: 100%;
    height: 90%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid black;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
}

.wrapper .btn{
    width: 30%;
    height: 45px;
    background: black;
    border: none;
    outline : none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0 ,0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-left: 220px;
    margin-top: 15px ;
}


button{
    color: white !important;
    position: absolute; /* Permet de positionner le bouton par rapport au wrapper */
    bottom: 0; /* Positionne le bouton en bas du wrapper */
    right: 0; /* Positionne le bouton à droite du wrapper */
    margin-bottom: 37px;
    margin-right: 40px;
}

#file-input {
    display: none;
}
#file-label {
    padding: 4px;
    color: white;
    background-color: gray;
    border-radius: 6px;
    cursor: pointer;
}

#profile-pic {
    width: 250px;
    height: 110px;
    border: 1px solid black;
    object-fit: cover;
    margin-top: 10px;
}

.ImageProfil{
    position: absolute; /* Permet de positionner le bouton par rapport au wrapper */
    top: 0; /* Positionne le bouton en bas du wrapper */
    right: 0; /* Positionne le bouton à droite du wrapper */
    margin-top: 170px;
    margin-right: 30px;

}

.ImageProfil p{
    margin-bottom: 8px;
    color: black;
    
}

/*CSS pour le formulaire : FIN*/