/*CSS des fichier .php DEBUT */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}





.welcome_message{
    /*font-family: "Poppins", sans-serif;*/
    font-size: 25px;
    margin-left: 30px;
    margin-top: 40px;


}

.logout button{
    background-color: transparent;
    border: 1.7px solid black ;
    border-radius: 7px;
    color: black;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    text-transform:uppercase ;
    transition: background-color 300ms;
}

.logout button:hover{
    color: #fff;
    background-color: black;

}

.logout{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 130px;
    margin-top: 40px;
}

.logo img {
    height: 50px;
    width: 50px;
}

.logo:hover{
    cursor: default;
}

/*CSS des fichier .php FIN */